.gradient-background{
    background: linear-gradient(300deg,#00bfff,#ff4c68,#ef8172);
    animation:gradient-animation 18d ease infinite;
}
@keyframes gradient-animaton{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.profile-img mt-5{
    border-radius: 50%;
}